<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <div id="div1">
        <a href="/"><button>Home</button></a>
        <a><button>Contact</button></a> 
    </div><br><br>
    <div id="div2">
        <h1>We'd love to hear from you.</h1><br>
        <h3>Here's how to get in touch.</h3>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name"><br>
        <input type="text" placeholder="Company">
        <input type="text" placeholder="Title"><br>
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone"><br>
        <textarea placeholder="Please provide some detail about your interest and the problem you'd like to solve."></textarea><br>
        <button>SUBMIT</button>
    </div>
</body>
</html>