<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div id="div1">
        <a href="contact"><button>Contact</button></a> 
    </div>
    <div id="div2">
        <h1>Facial recognition<br>for people wearing face masks</h1>
        <a href="login"><button>GET STARTED</button></a><br>
    </div>
</body>
</html>