<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div id="div1">
        <a href="/"><button>Home</button></a>
        <a href="contact"><button>Contact</button></a> 
    </div>
    <div id="div2">
        <h1>Login</h1><br>
        <p>Good to see you again!<br><br>By logging, you agree to our Terms of use and Privacy Policy.</p>
    </div>
    <div id="div3">
            <div id="div4">
                <br><label>Login with Face ID</label><br><br><br><br>
                <a href="profile"><img src="../static/img/faceRecognition.png"></a><br><br><br>
                <a href="signup">Don't have an account?</a>
            </div>   
    </div>
    <div style="clear:both"></div>
</body>
</html>