<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div id="div1">
        <a href="/"><button>Home</button></a>
        <a href="contact"><button>Contact</button></a> 
    </div>
    <div id="div2">
        <h1>Hello, {{className}}</h1>
    </div>
    <div id="div3">
        <h1>How facial recognition can help you</h1>
        <p>facial recognition is an online face search engine that goes through the Internet to find pictures containing given faces.<br>
            facial recognition uses face recognition search technologies to perform a reverse image search. 
            Find a face and check where<br>the image appears online. Our face finder helps you find a face and protect your privacy. 
            facial recognition online<br>system allows you to search by image. 
            facial recognition is a face picture search and photo search engine available for<br>everyone. 
            It is a great tool to audit copyright infringement.</p>
            <img src="../static/img/profile1.PNG">
    </div>
    <div id="div4">
        <p>HOW IT WORKS</p>
        <h1>Protect your privacy</h1>
        <p>We believe that you have the right to find yourself on the Internet and protect your privacy and image. Using the<br>
            latest technologies, artificial intelligence and machine learning, we help you find your pictures on the Internet and<br>
            defend yourself from scammers, identity thieves, or people who use your image illegally. That is why we have<br>
            created PimEyes - a multi-purpose tool allowing you to track down your face on the Internet, reclaim image rights,<br>
            and monitor your online presence</p>
            <img src="../static/img/profile2.PNG"><br>
            <button>Perform a search and try it</button>
    </div>
    <div id="div5">
        <div id="div6">
            <h3>WHAT IS A REVERSE IMAGE SEARCH?</h3>
            <p>A reverse image search is a technique that allows finding things, people, brands, etc. using a photo.</p>
            <p>While performing a regular search you usually type a word or phrase that is related to the information you 
                are trying to find; when you do a reverse image search, you upload a picture to a search engine.</p>
            <p>In the results of regular searches, you receive a list of websites that are connected to these phrases.</p>
            <p>When you perform a reverse image search, in the results you receive photos of similar things, people, etc, 
                linked to websites about them. Reverse search by image is the best solution to use when looking for similar images, 
                smaller/bigger versions of them, or twin content.</p>
            <p>The best-known reverse image search engine is Google Images.</p>
        </div>
        <div id="div6">
            <h3>MORE THAN A REVERSE IMAGE SEARCH</h3>
            <p>PimEyes uses a reverse image search mechanism and enhances it by face recognition technology to allow you to find 
                your face on the Internet (but only the open web, excluding social media and video platforms). Like in a reverse 
                image search you perform a query using a photo and you receive the list of indexed photos in the results.</p>
            <p>But PimEyes is more than that. In the results we display not only similar photos to the one you have uploaded to 
                the search bar but also pictures in which you appear on a different background, with other people, or even with 
                a different haircut. This improvement is possible thanks to our search engine focusing on a given face, not the 
                whole picture.</p>
            <p>Try PimEyes' reverse image search engine and find where your face appears online.</p>
        </div>
        <div id="div6">
            <h3>HOW TO REVERSE IMAGE SEARCH?</h3>
            <p>To perform a reverse image search you have to upload a photo to a search engine or take a picture from your camera 
                (it is automatically added to the search bar). Usually, you upload a picture to a search bar or some dedicated 
                area on the page.</p>
            <p>When performing a reverse image search, pay attention to the technical requirements your picture should meet. 
                Usually they are related to the image's size, quality, and file format, but sometimes also to the photo's 
                composition or depicted items.</p>
            <p>The uploaded photo is used to perform a search. It is measured and analyzed in order to find similar images or 
                pictures with similar objects. The best reverse image search is supported by high-quality images.</p>
            <p>The reverse image search mechanism can be used on mobile phones or any other device.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div id="div7">
        <img src="../static/img/profile3.PNG"><br>
        <a href="">Search</a> -
        <a href="">Blog</a> -
        <a href="">Help center</a>  
    </div>
</body>
</html>